.box-controls {
    margin-bottom: 20px;
}

.box-controls a {
    margin-top: 10px;
}

body .redactor_toolbar li a.redactor_btn_browser {
    /*width: 25px;
    height: 25px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position: -408px -120px;*/
    background: url("../img/explorer.png") no-repeat;
}

.filename_dimensions {
    max-width: 100px;
    word-break: break-all;
}

.dropzone{
    border: 2px dashed #79aec8;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.dropzone.dz-clickable .dz-message{
    font-size: 18px;
    color: #417690;
}

.dropzone .dz-preview .dz-image{
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #eee;
}

.dropzone .dz-preview .dz-progress{
    height: 5px;
    top: 110px;
    margin-top: 0;
}

.dropzone .dz-preview .dz-remove {
    color: #ba2121;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
}
