{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n admin_static %}
{% load fb_tags %}

<!-- STYLESHEETS -->
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}dropzone/basic.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}dropzone/dropzone.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block extrahead %}
    {{ block.super }}
    <script src="{{ settings_var.URL_FILEBROWSER_MEDIA }}jquery/jquery-3.1.1.min.js"></script>
    <script src="{{ settings_var.URL_FILEBROWSER_MEDIA }}dropzone/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;

        function add_error_message(msg) {
            $('.messagelist').append('<li class="error">' + msg + '</li>');
        }

        $(function(){
            var dropzone = new Dropzone('#dropzone', {
                url: "{% url 'fb_do_upload' %}?folder={{ query.dir }}",
                method: "post",
                paramName: "file",
                uploadMultiple: false,
                autoProcessQueue: false,
                clickable: true,
                addRemoveLinks: true,
                dictDefaultMessage: "{% trans 'Drop files here to upload' %}",
                dictRemoveFile: "{% trans 'Delete File' %}",
                parallelUploads: 1000,
                maxFilesize: "{{ max_upload_size }}",
                acceptedFiles: '{{ accepted_files }}',
                accept: function (file, done) {
                    var self = this;

                    $.ajax({
                        type: 'post',
                        url: '{% url 'fb_check' %}?folder={{ query.dir }}',
                        data: {filename: file.name},
                        success: function (response) {
                            if (!response.success) {
                                self.removeFile(file);
                                add_error_message(file.name + " - {% trans 'The File already exists.' %}");
                            } else {
                                done();
                            }
                        }
                    });
                }
            });

            dropzone.on('addedfile', function(file) {
                if (dropzone.files.length) {
                    var _i, _len;
                    // -1 to exclude current file
                    for (_i = 0, _len = dropzone.files.length; _i < _len - 1; _i++) {
                        if(dropzone.files[_i].name === file.name) {
                            dropzone.removeFile(file);
                        }
                    }
                }
            });

            dropzone.on('complete', function(file) {
                if (dropzone.getUploadingFiles().length == 0 && file.status != 'error')
                    window.location.href = "{% url 'fb_browse' %}";
            });

            dropzone.on('error', function(file) {
                if (!file.accepted) {
                    dropzone.removeFile(file);
                    add_error_message(file.name + " - {% trans 'Extension is not allowed.' %}");
                }
            });

            $('.upload_files').on('click', function (event) {
                event.preventDefault();
                dropzone.processQueue();
            });

            $('.clear_files').on('click', function (event) {
                event.preventDefault();
                dropzone.removeAllFiles(true);
            });
        })
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}change-form filebrowser{% if query.pop %} popup{% endif %}{% endblock %}
{% block content-class %}content-flexible{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}{% include "filebrowser/include/breadcrumbs.html" %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="content-main">
    <form action="." method="post" enctype="multipart/form-data" class="submit_form">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="dropzone" id="dropzone">
                <div class="fallback">
                    <input type="file" id="id_file" name="files" multiple="multiple" />
                </div>
            </div>
        </fieldset>

        <ul class="messagelist"></ul>

        <fieldset class="module aligned collapse closed">
            <h2>{% trans "Help" %}</h2>
            <div class="form-row">
                {% for extension in settings_var.EXTENSIONS.items %}
                    {% ifnotequal extension.0 'Folder' %}
                        <div class="column span-4"><label class="required">{% if forloop.first %}{% trans "Allowed" %}:{% else %}&nbsp;{% endif %}</label></div>
                        <div class="column span-12 last"><p>{{ extension.0|safe }} ({{ extension.1|join:", "|safe }})</p></div><br clear="all" />
                    {% endifnotequal %}
                {% endfor %}
            </div>
            <div class="form-row">
                <div class="column span-4"><label class="required">{% trans "Max. Filesize" %}:</label></div>
                <div class="column span-12 last"><p>{{ settings_var.MAX_UPLOAD_SIZE|filesizeformat }}</p></div><br clear="all" />
            </div>
            {% if settings_var.CONVERT_FILENAME %}
                <div class="form-row">
                    <div class="column span-16 last"><p>
                        {% trans "The Name will be converted to lowercase. Spaces will be replaced with underscores." %}
                    </p></div><br clear="all" />
                </div>
            {% endif %}
        </fieldset>

        <div class="submit-row">
            <p class="deletelink-box">
              <a class="deletelink clear_files" href="#">{% trans "Clear Queue" %}</a>
            </p>
            <input class="default upload_files" type="submit" name="_save" value='{% trans "Upload" %}' />
        </div>

    </form>
</div>
{% endblock %}
