{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls %}
{% load fb_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}dropzone/basic.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}dropzone/dropzone.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/suit-filebrowser.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{{ settings_var.URL_FILEBROWSER_MEDIA }}jquery/jquery-3.1.1.min.js"></script>
    <script src="{{ settings_var.URL_FILEBROWSER_MEDIA }}dropzone/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;

        function add_error_message(msg) {
            $('.messagelist').append('<div class="alert alert-error"><button class="close" data-dismiss="alert">×</button>' + msg + '</div>');
        }

        $(function(){
            var dropzone = new Dropzone('#dropzone', {
                url: "{% url 'fb_do_upload' %}?folder={{ query.dir }}",
                method: "post",
                paramName: "file",
                uploadMultiple: false,
                autoProcessQueue: false,
                clickable: true,
                addRemoveLinks: true,
                dictDefaultMessage: "{% trans 'Drop files here to upload' %}",
                dictRemoveFile: "{% trans 'Delete File' %}",
                parallelUploads: 1000,
                maxFilesize: "{{ max_upload_size }}",
                acceptedFiles: '{{ accepted_files }}',
                accept: function (file, done) {
                    var self = this;

                    $.ajax({
                        type: 'post',
                        url: '{% url 'fb_check' %}?folder={{ query.dir }}',
                        data: {filename: file.name},
                        success: function (response) {
                            if (!response.success) {
                                self.removeFile(file);
                                add_error_message(file.name + " - {% trans 'The File already exists.' %}");
                            } else {
                                done();
                            }
                        }
                    });
                }
            });

            dropzone.on('addedfile', function(file) {
                if (dropzone.files.length) {
                    var _i, _len;
                    // -1 to exclude current file
                    for (_i = 0, _len = dropzone.files.length; _i < _len - 1; _i++) {
                        if(dropzone.files[_i].name === file.name) {
                            dropzone.removeFile(file);
                        }
                    }
                }
            });

            dropzone.on('complete', function(file) {
                if (dropzone.getUploadingFiles().length == 0 && file.status != 'error')
                    window.location.href = "{% url 'fb_browse' %}";
            });

            dropzone.on('error', function(file) {
                if (!file.accepted) {
                    dropzone.removeFile(file);
                    add_error_message(file.name + " - {% trans 'Extension is not allowed.' %}");
                }
            });

            $('.upload_files').on('click', function (event) {
                event.preventDefault();
                dropzone.processQueue();
            });

            $('.clear_files').on('click', function (event) {
                event.preventDefault();
                dropzone.removeAllFiles(true);
            });
        })
    </script>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block breadcrumbs %}
    {% include "suit/include/breadcrumbs.html" %}
{% endblock %}

{% block content %}
    <div id="content-main" class="inner-two-columns">
        <form class="form-horizontal submit_form" action="." method="post" enctype="multipart/form-data">
            <div class="inner-right-column">
                <div class="box save-box">
                    <div class="submit-row clearfix">
                        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-high btn-info upload_files" />
                        <input type="button" value="{% trans "Clear Queue" %}" class="btn btn-high btn-info clear_files" name="clear"/>
                    </div>
                </div>
            </div>

            <div class="inner-center-column">
                <div class="tab-content tab-content-main">
                    <fieldset class="module aligned">
                        <div class="control-group">
                            <div class="control-label">
                                <label class="required" for="id_file">{% trans "Select a file." %}</label>
                            </div>

                            <div class="controls">
                                <div class="dropzone" id="dropzone">
                                    <div class="fallback">
                                        <input type="file" id="id_file" name="files" multiple="multiple" />
                                    </div>
                                </div>

                                <div class="messagelist"></div>

                                {% for extension in settings_var.EXTENSIONS.items %}
                                <span class="help-block">

                                        {% ifnotequal extension.0 'Folder' %}
                                            <strong>{% if forloop.first %}{% trans "Allowed" %}:{% else %}&nbsp;{% endif %}</strong>
                                            <p>{{ extension.0|safe }} ({{ extension.1|join:", "|safe }})</p>
                                        {% endifnotequal %}

                                </span>
                                {% endfor %}
                                <br>
                                <span class="help-block">
                                    <strong>{% trans "Max. Filesize" %}:</strong>
                                    <p>{{ settings_var.MAX_UPLOAD_SIZE|filesizeformat }}</p>
                                </span>
                                {% if settings_var.CONVERT_FILENAME %}
                                    <br>
                                    <span class="help-block">
                                        <strong>{% trans "The Name will be converted to lowercase. Spaces will be replaced with underscores." %}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
